body {
	background-color: white;
	margin: 0 0 0 0;
	font-family: 'Encode Sans Condensed', sans-serif;
}

.topnav {
    background-color: #009688;
    overflow: hidden;
    /*position: fixed;*/
    width: 100%;
    margin: 0 0 20px 0 !important;
    height: 52px;
}

.topnav span {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin: 0 0 0 0;
    text-decoration: none;
    font-size: 17px;
}	

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.boardbox {
	width: 100%;
	min-height: 450px;
	margin-top: 50px;
	margin-bottom: 0px;
	margin-left: 150px;
	padding: 10px;
	background-color: #ffffff;
	box-sizing: border-box;
	text-align: center;
}

.board {
	background-color: #e2e4e6;
	display: inline-block;
	border-radius: 10px;
	padding: 20px 20px 20px 20px;
	margin-top: 10px;
	margin-left: 10px;
}

.card {
	margin: 20px;
	background-color: green;
	width: 260px;
	height: 70px;
	border-radius: 10px;
}

.namaCard {
	padding: 10px;
}

.namaBoard {
	margin: 0px 0px 0px 20px;
	color: teal;
	font-size: 30px;
}

.namaList{
	margin: 20px 0 0 20px;
}

a:visited {
	color : white;
}

a:hover {
	text-decoration: none;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #009688;	
    height: 51px;
}

li {
	float: left;
	display: inline;
	color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	/*font-family: 'Encode Sans Condensed', sans-serif;*/
	background-color: #009688;
}

li:hover {
    background-color: #26A69A;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}