<!DOCTYPE html>
<html>
<head>
	<title>Board Page</title>
    <meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css\bootstrap\bootstrap-grid.min.css">
	<link rel="stylesheet" href="css\font-awesome-4\font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css\style_modal.css">
	<link rel="stylesheet" type="text/css" href="css\style_index.css">
	<link rel="stylesheet" type="text/css" href="css\style_list.css">
</head>
<body>
	<div class="container-fluid" style="padding: 0px">
		<nav>
		<ul>
			<div class="row" style="padding-top: 10px;">
				<div class="col-sm-3">
					<!-- <a href="board.html"><input type="image" class="button" img src="image/5.png" width="30px"></a> -->
    				<span class="navbut" style="float: left; padding: 5px 5px 0 10px;">
    					Hello, username
    				</span>
    			</div>
    			<div class="col-sm-6 center-logo">
                    <img src="image/logo-myBoard-w.png" width="50px">
    			</div>
    			<div class="col-sm-3 Right-Nav">
    				<a class="navbut" href="#logout" style="float: right; padding: 5px 10px 0 0;">Logout</a>
                </div>
    			</div>
			</ul>
		</nav>
		<!-- <div class="row">
			<nav>	nav
				<ul>
					<li><a href=""><img src="image/s.png" alt="user_pic" width=60%></a></li>
					<li class="logo-board"> <a href="index.html"><img src="image/logo-myBoard-w.png" width="35px"></a></li>
					<li style="float:right"></li>
				</ul>
			</nav>	end nav
		</div> -->
		<div class="container" style="margin-top: 20px;"">
			<div class="row">
				<div class="col-md-12">
					<div> <!-- Board list-->
						<a href="list.html">
							<div class="col-md-4 board" style="margin: 5px 5px 5px 5px">
								Board1
							</div>	
						</a>
						<div class="col-md-4 board" style="margin: 5px 5px 5px 5px">
							Board2
						</div>
						<div class="col-md-4 board" style="margin: 5px 5px 5px 5px">
							Board3
						</div>
						<div class="col-md-4 board" style="margin: 5px 5px 5px 5px">
							Board4
						</div>
						<a id="myBtn" href="#">
							<div class="col-md-4 board" style="margin: 5px 5px 5px 5px">
								New Board..
							</div>
						</a>
					</div> <!-- Board list -->
				</div>
			</div>
		</div>
		<div class="alamat">
			<div class="row">	
			</div>
		</div>
	</div>

	<!-- The Modal -->
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">&times;</span>
			<div class="modal-header">
				<h3>Create new Board</h3>
				<input type="text" placeholder="Board Name">
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>

	<script>
		var modal = document.getElementById('myModal');
		var btn = document.getElementById("myBtn");
		var span = document.getElementsByClassName("close")[0];
		
		btn.onclick = function() {
				modal.style.display = "block";
		}

		span.onclick = function() {
				modal.style.display = "none";
		}

		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}

	</script>
</body>
</html>