/*body {
	background-color: white;
	margin: 0 0 0 0;
	font-family: 'Encode Sans Condensed', sans-serif;
}

.navbut {
	text-decoration: none;
	color: white;
}

.card {
	margin: 20px;
	background-color: green;
	width: 260px;
	height: 70px;
	border-radius: 10px;
}

.namaCard {
	padding: 10px;
}

.namaBoard {
	margin: 0px 0px 0px 20px;
	color: teal;
	font-size: 30px;
}

.namaList{
	margin: 20px 0 0 20px;
}

a:visited {
	color : white;
}

a:hover {
	text-decoration: none;
}
*/
.box {
	background-color: #009688;
	display: inline-block;
	border-radius: 10px;
	padding: 15px 15px 15px 15px;
	width: 30%;
	margin: 0 auto;
}

.logo-board {
	position: absolute;
	box-sizing: border-box;
	width: 1190px;
	margin: auto;
	right: 75px;
	left: 76;
}


li {
	float: left;
	display: inline;
	color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	/*font-family: 'Encode Sans Condensed', sans-serif;*/
	background-color: #009688;
}

li:hover {
    background-color: #26A69A;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

a:link {
	text-decoration: none;
}

.center-logo {
	text-align:center;
}

.row-nav {
	padding:10px;
}

.board-menu {
	border:5px solid black;
	background-opacity: 0.4;
    filter: alpha(opacity=40);
}

ul {
	list-style: none;
}

ul li {
	display:inline;
	float:left;
	font: 14px Arial,Helvetica,sans-serif;
	font-size: 13px
    line-height: 35px;
	color:#f6f6f6;
	background-opacity: 0.4;
}

.board-data {
	border:1px solid #e2e4e6;
	background-color: #e2e4e6;
	padding:7px;
}

.board-data div p {
	padding: 10px;
	margin-top:5px;
	background-color:#fff;
	border:1px solid #ccc;
	border-radius: 3px;
	color:#4d4d4d;
	font: 14px Arial,Helvetica,sans-serif;

}

div p img {
	width:100%;
}

body {
	background-size: 100%;
	background-position: fixed;
	background-repeat: no-repeat;
	background-color: #e2e4e6;
}


ul {
	position: ;
	list-style-type: none;
	margin : 0;
	padding: 10px;		
	height: 50px;
	overflow: hidden;
	background-color: #009688;
}
li {
	float: center;
	display: block;
	color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: verdana;
}

.container-card {
	display: inline-block;
    display: -webkit-box;
	width: 100%;
	overflow-x: scroll;
	margin-bottom: 0px;
}

.card {
	width: 300px;
	/*max-height: 300px;*/
	position: relative;
	padding: 10px;
}

.card-scroll-y {
	max-height: 543px;
	overflow-y: scroll;

}

.navbut {
	text-decoration: none;
	color: #e2e4e6;
}