#board_name {
	margin-left: 30px;
	margin-bottom: 0px;
	color:white;
}
a:link {
	text-decoration: none;
}
#list-container {
	display: -webkit-box;
	width: 100%;
	margin-right: -400px;
    margin-bottom: 0px;
}
.box-card {
	box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.btn {
	color:white;
	border:none;
	box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.btn:focus {
	outline: none;
}
form input {
	color: black;
}
.submit-button {
	margin-top: 5px;
	display: inline-block;
    border-style: unset;
    background-color: #EE6E73;
	color: white;
	height: 25px;
	border-radius: 5px;
	transition-duration: 0.3s;
}
.submit-button:hover {
	background-color: #EF9A9A;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.submit-button:focus {
	outline: none;
}
.green-btn {
	background-color:limegreen;	
}
.orange-btn {
	background-color: orange;	
}
.red-btn {
	background-color: red;	
}
.grey-btn {
	color: white;
	opacity: 0.5;
	background-color: #85959A;
}
.blue-btn {
	background-color: blue;	
}
.circle-btn {
	border-radius:200%;
	width:12px;
	height:12px;
}
.purple {
	display: block;
	background-color: #c377e0;
	border-radius: 3px;
    height: 8px;
    margin: 0 3px 3px 0;
    padding: 0;
    width: 42px;
    line-height: 75pt;
}

.limegreen {
	display: block;
	background-color: #51e898;
	border-radius: 3px;
    height: 8px;
    margin: 0 3px 3px 0;
    padding: 0;
    width: 42px;
    line-height: 75pt;
}

.pink {
	display: block;
	background-color: #ff80ce;
	border-radius: 3px;
    height: 8px;
    margin: 0 3px 3px 0;
    padding: 0;
    width: 42px;
    line-height: 75pt;
}

.lightblue {
	display: block;
	background-color: #00c2e0;
	border-radius: 3px;
    height: 8px;
    margin: 0 3px 3px 0;
    padding: 0;
    width: 42px;
    line-height: 75pt;
}

.orange {
	display: block;
	background-color: #ffab4a;
	border-radius: 3px;
    height: 8px;
    margin: 0 3px 3px 0;
    padding: 0;
    width: 42px;
    line-height: 75pt;
}

.center-logo {
	text-align:center;
}

.row-nav {
	padding:10px;
}

.board-menu {
	border:5px solid black;
	background-opacity: 0.4;
    filter: alpha(opacity=40);
}

ul {
	list-style: none;
}

div select {
	color: black;
}

ul li {
	display:inline;
	float:left;
	font: 14px Arial,Helvetica,sans-serif;
	font-size: 13px
    line-height: 35px;
	color:#f6f6f6;
	background-opacity: 0.4;
}

.board-data {
	border:1px solid #e2e4e6;
	background-color: #e2e4e6;
	border-radius: 10px;
	padding:7px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);		
}

.board-data div p {
	padding: 10px;
	margin-top:5px;
	background-color:#fff;
	border:1px solid #ccc;
	border-radius: 3px;
	color:#4d4d4d;
	font: 14px Arial,Helvetica,sans-serif;

}

div p img {
	width:100%;
}

body {
	background-size: 100%;
	background-position: fixed;
	background-repeat: no-repeat;
	/* background-color: #009688; */
	background-image:url('http://localhost/myBoard/assets/image/monument-valley.jpg');
	background-repeat: round;
	/* background: linear-gradient(var(--a, 100deg), #0ef49b, #d2dc69 30%, #faa04b 70%, #ff5a64); */
}


ul {
	position: ;
	list-style-type: none;
	margin : 0;
	padding: 10px;		
	height: 50px;
	overflow: hidden;
	background-color: #e2e4e6;
}
li {
	float: center;
	display: block;
	color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: verdana;
}

.container-card {
	display: inline-block;
    display: -webkit-box;
	width: 100%;
	overflow-x: scroll;
	margin-bottom: 0px;
	padding-left: 5px;
}

div#card-height {
    box-sizing: border-box;
    height: -webkit-fill-available;
}

.card {
	box-sizing: border-box;
	width: 300px;
	/*max-height: 300px;*/
	position: relative;
	padding: 10px;
}

.card-scroll-y {
	max-height: 543px;
	overflow-y: scroll;

}

.navbut {
	text-decoration: none;
	color: #009688;
}