body {
	background-color: white;
	margin: 0 0 0 0;
	font-family: 'Encode Sans Condensed', sans-serif;
}

.navbut {
	text-decoration: none;
	color: white;
}

.board {
	background-color: #e2e;
	display: inline-block;
	border-radius: 10px;
	padding: 15px 15px 15px 15px;
	width: 30%;
	margin: 0 auto;
}

.card {
	margin: 20px;
	background-color: green;
	width: 260px;
	height: 70px;
	border-radius: 10px;
}

.namaCard {
	padding: 10px;
}

.namaBoard {
	margin: 0px 0px 0px 20px;
	color: teal;
	font-size: 30px;
}

.namaList{
	margin: 20px 0 0 20px;
}

h1 {
	text-align : center;
	/*font-family: 'Encode Sans Condensed', sans-serif;*/
}

body {
	font-family: 'Encode Sans Condensed', sans-serif;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:visited {
	color : unset;
}

a:hover {
	text-decoration: none;
}

a:active {
	color: unset;
}

ul {
	list-style-type: none;
	margin : 0;
	padding: 0;		
}

li {
	float: center;
	display: block;
	color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	/*font-family: 'Encode Sans Condensed', sans-serif;*/
	background-color: #009688;
}

li:hover {
    background-color: #26A69A;
}

.logo-board {
	position: absolute;
	box-sizing: border-box;
	width: 1190px;
	margin: auto;
	right: 75px;
	left: 76;
}