.bg-board {
	background-color:#FFDC89;
	background-image: url(../../assets/image/monument-valley.jpg);
}

.alamat {
	/* shadow up */
	box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);	
}

h3 {
	color:white;
}

.modal-form {
    color: black;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:visited {
	color : #ffffff;
}

a:hover {
	color : #ffffff;
	text-decoration: none;
}

a:active {
	color: unset;
}

.modal_label {
	color: white;
	font-size: 14px;
	font-weight: 700;	
}
.board_name {
	box-sizing: border-box;
}
.btn-update {
	box-sizing: border-box;
	position: relative;
	border: none;
	background-color: transparent;
	text-decoration-style: none;
}
.btn-delete {
	box-sizing: border-box;
	position: relative;
	border: none;
	background-color: transparent;
	text-decoration-style: none;
	
}

.box {
	background-color: #009688;
	display: inline-block;
	box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);	
	border-radius: 10px;
	padding: 15px 15px 15px 15px;
	width: 30%;
	margin: 5px;
}